*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #9b59b6;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.container{
    max-width: 1170px;
    margin: auto;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
}

.col{
    width: 60%;
    padding: 30px 15px 0 15px;
    text-align: center;
    border: #f0f0f0 solid 5px;
    margin: 10px 0;
}

.col form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-style {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 90%;
}

.btn{
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin: 15px 0;
	width: 30%;
    cursor: pointer;
    font-weight: bolder;
}
